html, body {
      margin: 0 auto;
      max-width: 800px;
      max-height: 800px;
      background-color: #424242;
}
h3 {
      color: white;
      text-align: center;
}
button {
      background-color: #ededed;
      border: 0;
      color: black;
      font-family: 'Open Sans', sans-serif;
      font-weight: 900;
      font-size: 1.2em;
      line-height: 2;
      margin-top: 1.5rem;
      width: 60%;
      min-width: 6rem;
      border-radius: 0.75rem;
      min-height: 2rem;
}
.grid {
      border-radius: 50px;
}
.wrapper {
      display: grid;
      grid-template-columns: repeat(3,1fr);
      grid-auto-rows: 250px;
      grid-auto-columns: 250px;
      margin-top: 3em;
      height: 1vh;
      width: auto;
}
#start {
      margin: auto;
      text-align: center;
}
#cyan {
      background-color: #00AEEF;
}
#cyan:active {
      background-color: #80E7F9;
}
#gray {
      background-color: #7C7C7C;
}
#gray:active {
      background-color: #BCBCBC;
}
#magenta {
      background-color: #EC008C;
}
#magenta:active {
      background-color: #FC72D2;
}
#yellow {
      background-color: #FFF200;
}
#yellow:active {
      background-color: #FFFBCF;
}